:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131316;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2000px; */
}

.logo {
  width: 200px;
  position: fixed;

  opacity: 100%;
  transition: all .3s;

  z-index: 10;
}

.down_logo {
  width: 200px;
  position: fixed;

  opacity: 0%;
  transition: all .3s;

  z-index: 10;
}

.up {
  padding: 20px;
  font-weight: bold;
  margin-bottom: 40vh;
}
.up2 {
  padding: 20px;
  font-weight: bold;
  margin-bottom: 60vh;
}

.active {
  width: 100vw;
  height: 500vh;
  margin-bottom: -500px;
  z-index: 30;
  background: #0c0c0e;
  border-radius: 40px 40px 0px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 100%;
  transform: translateY(-50vh);
  /* visibility: visible; */

  transition: all .5s;
}

.inactive {
  width: 100vw;
  height: 500vh;
  margin-bottom: -500px;
  z-index: 30;
  background: #0c0c0e;
  border-radius: 40px 40px 0px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0%;
  transform: translateY(0vh);
  /* visibility: hidden; */

  transition: all .5s;
}

.about_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spec_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pj_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spec_contents {
  text-align: right;
}

.content {
  font-size: 30px;
  font-weight: normal;
}

.op2 {
  opacity: 50%;
}
.op1 {
  opacity: 25%;
}

.next{ 
  margin-top: 200px;
}

.school {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: normal;
}

.award_contain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: normal;
  margin-right: 30px;
}

.graphs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.school_name {
  font-size: 25px;
  padding-bottom: 40px;
  text-align: right;
}
.now {
  padding-bottom: 0;
}

.graph {
  border-radius: 20px;
  width: 2px;
  height: 200px;
  background: white;
  margin-right: 30px;
}

.info {
  font-size: 20px;
  margin-right: 30px;
}
.spec_info {
  font-size: 20px;
  margin-right: 30px;
}

.award {
  display: flex;
  align-items: center;
}

.award_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.award_name {
  font-size: 25px;
}
.name_end {
  padding-bottom: 20px;
}

.award_usr {
  font-size: 20px;
}

.card-l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 100px;
}
.card-r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 100px;
}

.card-img-l {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 30px;
}
.card-img-r {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 30px;
}

.card-title {
  font-weight: bold;
  font-size: 25px;
}

.card-info {
  width: 260px;
  font-size: 18px;
}